* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: black;
}
section {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.right img {
  width: 100%;
  border-radius: 30px;
}

.left form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.left h2 {
  color: rgb(171, 118, 220);
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 5px;
}
.left hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: rgb(171, 118, 220);
  border-radius: 10px;
  margin-bottom: 20px;
}

.left form .input-box {
  width: 400px;
  height: 50px;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}
.left form .message {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.input-box:focus {
  border: 4px solid rgb(171, 118, 220);
  border: none;
}

.input-box::placeholder {
  color: rgb(171, 118, 220);
}
.left form button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  width: 100px;
  background-color: rgb(171, 118, 220);
}


footer .social_media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  margin: auto;
  margin-top: 60px;
}

footer .social_media img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media (max-width: 800px) {

  .right {
    display: none;
  }
  .left h2 {
    font-size: 30px;
  }
  .left form .input-box {
    width: 80%;
    height: 50px;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
  }
  .left form .message {
    height: 100px;
    padding-top: 15px;
    border-radius: 20px;
  }
  footer .social_media img{
    width:30px;
    height: 30px;
  }
  footer .social_media {
    width: 50%;
  }
  section {
    margin-top: 40px;
  }
}

@media (max-width: 1350px) {
  .right img {
    width: 80%;
  }
  .right img {
    margin-left: 100px;
  }
}